<div class="menu_section">
    <h3>Chantier</h3>
    <ul class="nav side-menu">
        <li><a><i class="fa fa-home"></i> Construction<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="{{ path('construction_site_index') }}">Construction</a></li>
                <li><a href="index2.html">Mes entreprises</a></li>
                <li><a href="index3.html">Mon chantier</a></li>
            </ul>
        </li>
    </ul>
</div>

<div class="menu_section">
    <h3>Application</h3>
    <ul class="nav side-menu">
        <li>
            <a><i class="fa fa-book"></i> A propos<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a class="symfony-docs" href="http://symfony.com/doc/current/index.html">Utilisation</a></li>
                <li><a class="symfony-docs" href="http://symfony.com/doc/current/index.html">Version</a></li>
            </ul>
        </li>
    </ul>
</div>