<div class="menu_section">
    <h3>General</h3>
    <ul class="nav side-menu">
        <li><a><i class="fa fa-edit"></i> Clients<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="{{ path('customer_index') }}">Lister</a></li>
                <li><a href="{{ path('customer_new') }}">Ajouter</a></li>
                <li><a href="form_advanced.html">Statistiques</a></li>
                <li><a href="form_validation.html">Géolocalisation</a></li>
            </ul>
        </li>
    </ul>
    <ul class="nav side-menu">
        <li><a><i class="fa fa-edit"></i> Entreprise<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="{{ path('company_index') }}">Lister</a></li>
                <li><a href="{{ path('company_new') }}">Ajouter</a></li>
                <li><a href="form_advanced.html">Statistiques</a></li>
                <li><a href="form_validation.html">Géolocalisation</a></li>
            </ul>
        </li>
    </ul>
</div>